<!DOCTYPE html>
<html>
<head>
    <title>System information</title>
    <!-- Normalize -->
    <link href="/css/style.css" rel="stylesheet">
    <link href="/bower_components/normalize-css/normalize.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="/bower_components/FlipClock/compiled/flipclock.css" rel="stylesheet">

    <link href="/bower_components/odometer/themes/odometer-theme-car.css" rel="stylesheet">

</head>
<body class="my-body">
<div class="container">

    <!-- Current value -->
    <div class="row">
        <input type="hidden" name="current_new" value="<%= new_user %>" id="hidden_new"/>

        <input type="hidden" name="current_all" value="<%= all_user %>" id="hidden_all"/>

        <input type="hidden" name="current_paid_user" value="<%= paid_user %>" id="hidden_paid_user"/>

        <input type="hidden" name="current_paid_value" value="<%= paid_value %>" id="hidden_paid_value"/>
    </div>

    <!-- Count down date -->
    <hr/>
    <div class="row jumbotron text-center">
        <div class="col-lg-12">
            <div id="next-month" class="next-month">
            </div>
        </div>
    </div>
    <br>
    <!-- Show information -->
    <div class="row">
        <div class="jumbotron">
            <div class="row">
                <div class="col-lg-5">
                    <div class="row">
                        <img data-src="holder.js/70x70/sky/text:Active" alt="..." class="img-circle">

                        <div class="odometer" id="new_user_label"></div>
                    </div>
                    <br>

                    <div class="row">
                        <img data-src="holder.js/70x70/lava/text:All" alt="..." class="img-circle">

                        <div class="register_user"></div>
                    </div>
                </div>
                <div class="col-lg-5 col-lg-offset-2">
                    <div class="row">
                        <img data-src="holder.js/70x70/sky/text:Paid" alt="..." class="img-circle">

                        <div class="paid_user"></div>
                    </div>
                    <br>

                    <div class="row">
                        <img data-src="holder.js/70x70/lava/text:Money" alt="..." class="img-circle">

                        <div class="paid_value"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <hr/>
    <div class="row">
        <div class="jumbotron" id="report">
        </div>
    </div>
    <!-- Draw chart -->
    <div class="row fix-height">
        <div class="jumbotron fix-height" id="chart">
            <canvas id="myChart"></canvas>
        </div>
    </div>




</div>

<!-- Holder js -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/bower_components/jquery/dist/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>

<script src="/bower_components/jquery.countdown/dist/jquery.countdown.js"></script>


<!-- Odometer js for chart -->

<!-- Chart js for chart-->
<script src="/bower_components/holderjs/holder.js"></script>

<script src="/bower_components/FlipClock/compiled/flipclock.js"></script>

<script src="/bower_components/datejs/build/date.js"></script>

<script src="/bower_components/odometer/odometer.js"></script>

<script src="/bower_components/Chart.js/Chart.js"></script>

<script src="javascripts/highcharts.js"></script>

<script src="javascripts/statistic.js"></script>

<script src="/socket.io/socket.io.js"></script>
<script src="javascripts/salary.js"></script>


</body>
</html>