body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #999999;
}

a {
    color: #00B7FF;
}

.my-body{
    background-color: #dcdcdc;
    padding: 0px;
}

.odometer{
    font-size: 40px;
}

.register_count{
    font-size: 40px;
}

.paid_user{
    font-size: 40px;
}

.paid_value{
    font-size: 40px;
}

.weeks{
    font-size: 48px;
}

.days{
    font-size: 48px;
}

.hours{
    font-size: 48px;
}

.minutes{
    font-size: 48px;
}

.seconds{
    font-size: 48px;
}

.label-text{
    font-size: 48px;
}

.title{
    background-color: #eee;
    border-radius: 2px;
    padding: 20px;
}

h1.title{
    background-color: #eee;
    border-radius: 2px;
    padding: 20px;
}

.btn-circle {
    width: 120px;
    height: 120px;
    text-align: center;
    font-size: 24px;
    line-height: 1.42;
    border-radius: 50%;
    background-color: #0000FF;
}

.jumbotron p{
    font-size: 48px;
}

.fix-height{
    height: 400px;
}